<div class="mt-4">
  <form method="POST" action="">
    <div class="form-group">
      <label for="search-input">Search</label>

      <input
        type="text"
        class="form-control"
        id="search-input"
        name="q"
        placeholder="Enter search..."
      />

    </div>
    <div class="form-group">
      <label for="gender-input">Search</label>

      <select name="gender" class="form-control" id="gender-input">
        <option value="">-- Choose Gender --</option>
        <option value="male">Male

        </option>
        <option value="female">Female

        </option>
      </select>

    </div>

    <button type="submit" class="btn btn-primary">Search</button>
  </form>
</div>